* {
  box-sizing: border-box;
}

/*Couleurs*/
/*Polices*/
.footer__contain {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 769px) {
  .footer__contain {
    justify-content: center;
    align-items: center;
  }
}
.footer__contain h4 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin: 20px 0 5px 30px;
}
@media screen and (min-width: 769px) {
  .footer__contain h4 {
    margin-left: -100px;
  }
}
.footer__contain .footer__contain__list {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
  margin-left: 20px;
}
.footer__contain .footer__contain__list a {
  text-decoration: none;
  color: white;
  margin-right: 100px;
}
.footer__contain .footer__contain__list .footer__logo {
  margin-right: 10px;
}
.footer__contain .footer__contain__list li {
  margin-top: 8px;
}
.footer__contain .footer__contain__list .list__logo2 a {
  margin-left: -4px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
header img {
  width: 170px;
  margin: 20px auto 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
header .explorer .explorer__localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
  box-shadow: inset 0px 4px 2px #d3d3d3;
}
header .explorer i {
  font-size: 17px;
  margin: 0px 0px 0px 80px;
}
header .explorer .explorer__reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
header .explorer .explorer__reservation h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 25px 65px 15px 65px;
}
header .explorer .explorer__reservation p {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  color: #7a7a7a;
  margin: 0px 22px 30px 22px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
  max-width: 1280px;
  -webkit-animation: apparition_menu 3s both;
          animation: apparition_menu 3s both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes apparition_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.explorer input {
  border: none;
  font-weight: 700;
  background-color: transparent;
  color: black;
  opacity: 1;
  font-size: 17px;
  margin-left: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.fonctionnement h2 {
  font-size: 23px;
  padding-left: 15px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
@media screen and (min-width: 769px) {
  .fonctionnement h2 {
    text-align: center;
  }
}
.fonctionnement .fonctionnement__selecteurs {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0px;
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f6f6f6;
  margin: 0 10px 0 10px;
}
@media screen and (min-width: 769px) {
  .fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action {
    margin-left: 10px;
    flex-direction: 32%;
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action {
    margin-bottom: 20px;
  }
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action:hover {
  background-color: #f5edff;
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action:hover i {
  color: #9356DC;
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action .numerotation {
  background-color: #9356DC;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  width: 22px;
  height: 22px;
  margin: 0 30px 0 -20px;
  position: relative;
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action i {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px 0px;
  color: #7e7e7e;
  margin: 0 20px 0 0;
  font-size: 18px;
}
.fonctionnement .fonctionnement__selecteurs .fonctionnement__selecteurs__action p {
  font-weight: 700;
  margin-left: -10px;
}

.explorer__reservation button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 0 0 16px grey;
}
.explorer__reservation button a {
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.bouton_de_commande button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 0 0 16px grey;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.bouton_de_commande button a {
  font-size: 15px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.explorer__reservation button:hover, .bouton_de_commande button:hover {
  background: linear-gradient(#FF86DE, #B286E6);
  border: none;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 0 0 20px #404040;
}

#restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#restaurants h2 {
  font-size: 23px;
  padding-left: 20px;
  margin: 20px 0 10px 0;
}
@media screen and (min-width: 769px) {
  #restaurants h2 {
    text-align: center;
  }
}
#restaurants .differents__restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants .differents__restaurants a {
  text-decoration: none;
  color: black;
  display: flex;
  width: 95%;
  max-width: 700px;
  height: 16em;
  margin: 0px 0px 15px 0px;
}
@media screen and (min-width: 769px) {
  #restaurants .differents__restaurants a {
    width: 45%;
    margin: 20px;
    max-width: none;
  }
}
#restaurants .differents__restaurants a figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 100%;
}
#restaurants .differents__restaurants a figure .differents__restaurants__new {
  background-color: #99E2D0;
  padding: 8px 13px;
  color: #088c6c;
  font-weight: 600;
  border-radius: 5px;
  position: absolute;
  margin-top: -180px;
  margin-left: 65%;
}
@media screen and (min-width: 769px) {
  #restaurants .differents__restaurants a figure .differents__restaurants__new {
    position: absolute;
    margin-left: 28%;
  }
}
#restaurants .differents__restaurants a figure img {
  width: 100%;
  height: 72%;
  border-radius: 30px 30px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#restaurants .differents__restaurants a figure figcaption {
  background-color: white;
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: flex-start;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  height: 100%;
  width: 85%;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__name h3 {
  font-size: 16px;
  height: 50%;
  margin: 10px 0 -10px 0;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__name p {
  font-size: 16px;
  height: 50%;
  margin: 0;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  width: 15%;
  margin-left: -30px;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__like .plein {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  border: none;
  margin-left: -25px;
  position: absolute;
  transition: opacity 1s;
}
#restaurants .differents__restaurants a figure figcaption .cartes__restaurants__like .plein:active {
  opacity: 1;
}

.menus {
  width: 100%;
  margin: 0;
}

.retour_acceuil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 0;
}
.retour_acceuil a {
  text-decoration: none;
  color: black;
  justify-content: flex-start;
  margin-right: 20px;
}
.retour_acceuil a i {
  margin-left: 0;
}

.photo_background {
  width: 100%;
  margin: 0;
}
.photo_background img {
  width: 100%;
  min-width: 360px;
  height: 90%;
  max-height: 300px;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 30px 30px 0 0;
  margin-top: -35px;
  background-color: #f6f6f6;
}
.menu .menu__nom-restaurant {
  display: flex;
  width: 98%;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 20px;
}
.menu .menu__nom-restaurant h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 20px 20px 20px 15px;
}
.menu .menu__nom-restaurant i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.menu .menu__nom-restaurant .plein {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  border: none;
  margin-left: -35px;
  position: absolute;
  transition: opacity 2s;
}
.menu .menu__nom-restaurant .plein:hover {
  opacity: 1;
}
.menu .entrees, .menu .plats, .menu .desserts {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 20px 5px;
  width: 95%;
  min-width: 340px;
}
@media screen and (min-width: 769px) {
  .menu .entrees, .menu .plats, .menu .desserts {
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.menu .entrees .title, .menu .plats .title, .menu .desserts .title {
  margin-left: 20px;
}
.menu .entrees .title h2, .menu .plats .title h2, .menu .desserts .title h2 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 5px;
}
.menu .entrees .title .underline, .menu .plats .title .underline, .menu .desserts .title .underline {
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
}
.menu .entrees .menus, .menu .plats .menus, .menu .desserts .menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.menu .entrees .menus .menus-detailles1, .menu .entrees .menus .menus-detailles2, .menu .entrees .menus .menus-detailles3, .menu .entrees .menus .menus-detailles4, .menu .entrees .menus .menus-detailles5, .menu .entrees .menus .menus-detailles6, .menu .entrees .menus .menus-detailles7, .menu .entrees .menus .menus-detailles8, .menu .entrees .menus .menus-detailles9, .menu .entrees .menus .menus-detailles10, .menu .plats .menus .menus-detailles1, .menu .plats .menus .menus-detailles2, .menu .plats .menus .menus-detailles3, .menu .plats .menus .menus-detailles4, .menu .plats .menus .menus-detailles5, .menu .plats .menus .menus-detailles6, .menu .plats .menus .menus-detailles7, .menu .plats .menus .menus-detailles8, .menu .plats .menus .menus-detailles9, .menu .plats .menus .menus-detailles10, .menu .desserts .menus .menus-detailles1, .menu .desserts .menus .menus-detailles2, .menu .desserts .menus .menus-detailles3, .menu .desserts .menus .menus-detailles4, .menu .desserts .menus .menus-detailles5, .menu .desserts .menus .menus-detailles6, .menu .desserts .menus .menus-detailles7, .menu .desserts .menus .menus-detailles8, .menu .desserts .menus .menus-detailles9, .menu .desserts .menus .menus-detailles10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 70px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 5px 5px 10px #e7e7e7;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: apparition_menu 800ms both;
          animation: apparition_menu 800ms both;
}
@keyframes apparition_menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .entrees .menus .menus-detailles1:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles2:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles3:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles4:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles5:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles6:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles7:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles8:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles9:hover .menus-detailles__slide, .menu .entrees .menus .menus-detailles10:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles1:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles2:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles3:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles4:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles5:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles6:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles7:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles8:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles9:hover .menus-detailles__slide, .menu .plats .menus .menus-detailles10:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles1:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles2:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles3:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles4:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles5:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles6:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles7:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles8:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles9:hover .menus-detailles__slide, .menu .desserts .menus .menus-detailles10:hover .menus-detailles__slide {
  -webkit-animation: slide 1s both;
          animation: slide 1s both;
}
@-webkit-keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}
.menu .entrees .menus .menus-detailles1:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles2:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles3:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles4:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles5:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles6:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles7:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles8:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles9:hover .menus-detailles__slide i, .menu .entrees .menus .menus-detailles10:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles1:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles2:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles3:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles4:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles5:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles6:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles7:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles8:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles9:hover .menus-detailles__slide i, .menu .plats .menus .menus-detailles10:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles1:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles2:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles3:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles4:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles5:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles6:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles7:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles8:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles9:hover .menus-detailles__slide i, .menu .desserts .menus .menus-detailles10:hover .menus-detailles__slide i {
  -webkit-animation: check 1s both;
          animation: check 1s both;
}
@-webkit-keyframes check {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__name, .menu .entrees .menus .menus-detailles2 .menus-detailles__name, .menu .entrees .menus .menus-detailles3 .menus-detailles__name, .menu .entrees .menus .menus-detailles4 .menus-detailles__name, .menu .entrees .menus .menus-detailles5 .menus-detailles__name, .menu .entrees .menus .menus-detailles6 .menus-detailles__name, .menu .entrees .menus .menus-detailles7 .menus-detailles__name, .menu .entrees .menus .menus-detailles8 .menus-detailles__name, .menu .entrees .menus .menus-detailles9 .menus-detailles__name, .menu .entrees .menus .menus-detailles10 .menus-detailles__name, .menu .plats .menus .menus-detailles1 .menus-detailles__name, .menu .plats .menus .menus-detailles2 .menus-detailles__name, .menu .plats .menus .menus-detailles3 .menus-detailles__name, .menu .plats .menus .menus-detailles4 .menus-detailles__name, .menu .plats .menus .menus-detailles5 .menus-detailles__name, .menu .plats .menus .menus-detailles6 .menus-detailles__name, .menu .plats .menus .menus-detailles7 .menus-detailles__name, .menu .plats .menus .menus-detailles8 .menus-detailles__name, .menu .plats .menus .menus-detailles9 .menus-detailles__name, .menu .plats .menus .menus-detailles10 .menus-detailles__name, .menu .desserts .menus .menus-detailles1 .menus-detailles__name, .menu .desserts .menus .menus-detailles2 .menus-detailles__name, .menu .desserts .menus .menus-detailles3 .menus-detailles__name, .menu .desserts .menus .menus-detailles4 .menus-detailles__name, .menu .desserts .menus .menus-detailles5 .menus-detailles__name, .menu .desserts .menus .menus-detailles6 .menus-detailles__name, .menu .desserts .menus .menus-detailles7 .menus-detailles__name, .menu .desserts .menus .menus-detailles8 .menus-detailles__name, .menu .desserts .menus .menus-detailles9 .menus-detailles__name, .menu .desserts .menus .menus-detailles10 .menus-detailles__name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles2 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles3 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles4 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles5 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles6 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles7 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles8 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles9 .menus-detailles__name h3, .menu .entrees .menus .menus-detailles10 .menus-detailles__name h3, .menu .plats .menus .menus-detailles1 .menus-detailles__name h3, .menu .plats .menus .menus-detailles2 .menus-detailles__name h3, .menu .plats .menus .menus-detailles3 .menus-detailles__name h3, .menu .plats .menus .menus-detailles4 .menus-detailles__name h3, .menu .plats .menus .menus-detailles5 .menus-detailles__name h3, .menu .plats .menus .menus-detailles6 .menus-detailles__name h3, .menu .plats .menus .menus-detailles7 .menus-detailles__name h3, .menu .plats .menus .menus-detailles8 .menus-detailles__name h3, .menu .plats .menus .menus-detailles9 .menus-detailles__name h3, .menu .plats .menus .menus-detailles10 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles1 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles2 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles3 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles4 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles5 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles6 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles7 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles8 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles9 .menus-detailles__name h3, .menu .desserts .menus .menus-detailles10 .menus-detailles__name h3 {
  margin: 0;
  font-size: 16px;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__name p, .menu .entrees .menus .menus-detailles2 .menus-detailles__name p, .menu .entrees .menus .menus-detailles3 .menus-detailles__name p, .menu .entrees .menus .menus-detailles4 .menus-detailles__name p, .menu .entrees .menus .menus-detailles5 .menus-detailles__name p, .menu .entrees .menus .menus-detailles6 .menus-detailles__name p, .menu .entrees .menus .menus-detailles7 .menus-detailles__name p, .menu .entrees .menus .menus-detailles8 .menus-detailles__name p, .menu .entrees .menus .menus-detailles9 .menus-detailles__name p, .menu .entrees .menus .menus-detailles10 .menus-detailles__name p, .menu .plats .menus .menus-detailles1 .menus-detailles__name p, .menu .plats .menus .menus-detailles2 .menus-detailles__name p, .menu .plats .menus .menus-detailles3 .menus-detailles__name p, .menu .plats .menus .menus-detailles4 .menus-detailles__name p, .menu .plats .menus .menus-detailles5 .menus-detailles__name p, .menu .plats .menus .menus-detailles6 .menus-detailles__name p, .menu .plats .menus .menus-detailles7 .menus-detailles__name p, .menu .plats .menus .menus-detailles8 .menus-detailles__name p, .menu .plats .menus .menus-detailles9 .menus-detailles__name p, .menu .plats .menus .menus-detailles10 .menus-detailles__name p, .menu .desserts .menus .menus-detailles1 .menus-detailles__name p, .menu .desserts .menus .menus-detailles2 .menus-detailles__name p, .menu .desserts .menus .menus-detailles3 .menus-detailles__name p, .menu .desserts .menus .menus-detailles4 .menus-detailles__name p, .menu .desserts .menus .menus-detailles5 .menus-detailles__name p, .menu .desserts .menus .menus-detailles6 .menus-detailles__name p, .menu .desserts .menus .menus-detailles7 .menus-detailles__name p, .menu .desserts .menus .menus-detailles8 .menus-detailles__name p, .menu .desserts .menus .menus-detailles9 .menus-detailles__name p, .menu .desserts .menus .menus-detailles10 .menus-detailles__name p {
  width: 230px;
  margin-top: 8px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #787878;
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__price, .menu .entrees .menus .menus-detailles2 .menus-detailles__price, .menu .entrees .menus .menus-detailles3 .menus-detailles__price, .menu .entrees .menus .menus-detailles4 .menus-detailles__price, .menu .entrees .menus .menus-detailles5 .menus-detailles__price, .menu .entrees .menus .menus-detailles6 .menus-detailles__price, .menu .entrees .menus .menus-detailles7 .menus-detailles__price, .menu .entrees .menus .menus-detailles8 .menus-detailles__price, .menu .entrees .menus .menus-detailles9 .menus-detailles__price, .menu .entrees .menus .menus-detailles10 .menus-detailles__price, .menu .plats .menus .menus-detailles1 .menus-detailles__price, .menu .plats .menus .menus-detailles2 .menus-detailles__price, .menu .plats .menus .menus-detailles3 .menus-detailles__price, .menu .plats .menus .menus-detailles4 .menus-detailles__price, .menu .plats .menus .menus-detailles5 .menus-detailles__price, .menu .plats .menus .menus-detailles6 .menus-detailles__price, .menu .plats .menus .menus-detailles7 .menus-detailles__price, .menu .plats .menus .menus-detailles8 .menus-detailles__price, .menu .plats .menus .menus-detailles9 .menus-detailles__price, .menu .plats .menus .menus-detailles10 .menus-detailles__price, .menu .desserts .menus .menus-detailles1 .menus-detailles__price, .menu .desserts .menus .menus-detailles2 .menus-detailles__price, .menu .desserts .menus .menus-detailles3 .menus-detailles__price, .menu .desserts .menus .menus-detailles4 .menus-detailles__price, .menu .desserts .menus .menus-detailles5 .menus-detailles__price, .menu .desserts .menus .menus-detailles6 .menus-detailles__price, .menu .desserts .menus .menus-detailles7 .menus-detailles__price, .menu .desserts .menus .menus-detailles8 .menus-detailles__price, .menu .desserts .menus .menus-detailles9 .menus-detailles__price, .menu .desserts .menus .menus-detailles10 .menus-detailles__price {
  display: flex;
  justify-content: flex-end;
  margin: 35px 0px 15px 40px;
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__slide, .menu .entrees .menus .menus-detailles2 .menus-detailles__slide, .menu .entrees .menus .menus-detailles3 .menus-detailles__slide, .menu .entrees .menus .menus-detailles4 .menus-detailles__slide, .menu .entrees .menus .menus-detailles5 .menus-detailles__slide, .menu .entrees .menus .menus-detailles6 .menus-detailles__slide, .menu .entrees .menus .menus-detailles7 .menus-detailles__slide, .menu .entrees .menus .menus-detailles8 .menus-detailles__slide, .menu .entrees .menus .menus-detailles9 .menus-detailles__slide, .menu .entrees .menus .menus-detailles10 .menus-detailles__slide, .menu .plats .menus .menus-detailles1 .menus-detailles__slide, .menu .plats .menus .menus-detailles2 .menus-detailles__slide, .menu .plats .menus .menus-detailles3 .menus-detailles__slide, .menu .plats .menus .menus-detailles4 .menus-detailles__slide, .menu .plats .menus .menus-detailles5 .menus-detailles__slide, .menu .plats .menus .menus-detailles6 .menus-detailles__slide, .menu .plats .menus .menus-detailles7 .menus-detailles__slide, .menu .plats .menus .menus-detailles8 .menus-detailles__slide, .menu .plats .menus .menus-detailles9 .menus-detailles__slide, .menu .plats .menus .menus-detailles10 .menus-detailles__slide, .menu .desserts .menus .menus-detailles1 .menus-detailles__slide, .menu .desserts .menus .menus-detailles2 .menus-detailles__slide, .menu .desserts .menus .menus-detailles3 .menus-detailles__slide, .menu .desserts .menus .menus-detailles4 .menus-detailles__slide, .menu .desserts .menus .menus-detailles5 .menus-detailles__slide, .menu .desserts .menus .menus-detailles6 .menus-detailles__slide, .menu .desserts .menus .menus-detailles7 .menus-detailles__slide, .menu .desserts .menus .menus-detailles8 .menus-detailles__slide, .menu .desserts .menus .menus-detailles9 .menus-detailles__slide, .menu .desserts .menus .menus-detailles10 .menus-detailles__slide {
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  margin-right: -60px;
}
.menu .entrees .menus .menus-detailles1 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles2 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles3 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles4 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles5 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles6 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles7 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles8 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles9 .menus-detailles__slide i, .menu .entrees .menus .menus-detailles10 .menus-detailles__slide i, .menu .plats .menus .menus-detailles1 .menus-detailles__slide i, .menu .plats .menus .menus-detailles2 .menus-detailles__slide i, .menu .plats .menus .menus-detailles3 .menus-detailles__slide i, .menu .plats .menus .menus-detailles4 .menus-detailles__slide i, .menu .plats .menus .menus-detailles5 .menus-detailles__slide i, .menu .plats .menus .menus-detailles6 .menus-detailles__slide i, .menu .plats .menus .menus-detailles7 .menus-detailles__slide i, .menu .plats .menus .menus-detailles8 .menus-detailles__slide i, .menu .plats .menus .menus-detailles9 .menus-detailles__slide i, .menu .plats .menus .menus-detailles10 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles1 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles2 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles3 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles4 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles5 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles6 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles7 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles8 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles9 .menus-detailles__slide i, .menu .desserts .menus .menus-detailles10 .menus-detailles__slide i {
  background-color: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.menu .entrees .menus .menus-detailles1, .menu .plats .menus .menus-detailles1, .menu .desserts .menus .menus-detailles1 {
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}
.menu .entrees .menus .menus-detailles2, .menu .plats .menus .menus-detailles2, .menu .desserts .menus .menus-detailles2 {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}
.menu .entrees .menus .menus-detailles3, .menu .plats .menus .menus-detailles3, .menu .desserts .menus .menus-detailles3 {
  -webkit-animation-delay: 180ms;
          animation-delay: 180ms;
}
.menu .entrees .menus .menus-detailles4, .menu .plats .menus .menus-detailles4, .menu .desserts .menus .menus-detailles4 {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}
.menu .entrees .menus .menus-detailles5, .menu .plats .menus .menus-detailles5, .menu .desserts .menus .menus-detailles5 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu .entrees .menus .menus-detailles6, .menu .plats .menus .menus-detailles6, .menu .desserts .menus .menus-detailles6 {
  -webkit-animation-delay: 360ms;
          animation-delay: 360ms;
}
.menu .entrees .menus .menus-detailles7, .menu .plats .menus .menus-detailles7, .menu .desserts .menus .menus-detailles7 {
  -webkit-animation-delay: 420ms;
          animation-delay: 420ms;
}
.menu .entrees .menus .menus-detailles8, .menu .plats .menus .menus-detailles8, .menu .desserts .menus .menus-detailles8 {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}
.menu .entrees .menus .menus-detailles9, .menu .plats .menus .menus-detailles9, .menu .desserts .menus .menus-detailles9 {
  -webkit-animation-delay: 540ms;
          animation-delay: 540ms;
}
.menu .entrees .menus .menus-detailles10, .menu .plats .menus .menus-detailles10, .menu .desserts .menus .menus-detailles10 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.bouton_de_commande {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.loading_spinner {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-top: #9356DC 5px solid;
  border-right: #B286E6 5px solid;
  border-bottom: #FF79DA 5px solid;
  border-left: #FF86DE 5px solid;
  border-radius: 50%;
  -webkit-animation: rotation_loader 1.5s linear infinite;
          animation: rotation_loader 1.5s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes rotation_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_spinner .loading_spinner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  border: none;
}