.explorer__reservation button
{
    @include buttons;
}

.bouton_de_commande button
{
    @include buttons;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.explorer__reservation button:hover , .bouton_de_commande button:hover
{
   @include button_hover;
}