.explorer__reservation button
{
    @include buttons;
    a 
    {
       @include buttons_a;
    }
}

.bouton_de_commande button
{
    @include buttons;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    a 
    {
        @include buttons_a;
    }
}
.explorer__reservation button:hover , .bouton_de_commande button:hover
{
   @include button_hover;
}