.loader 
{
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    animation: loader 1s forwards;
    animation-delay: 3s;
    @keyframes loader
    {
      0%
      {
          opacity:1;
          
          
      } 
      100%
      {
          opacity: 0;
          visibility: hidden;
      } 
    }
}
.loading_spinner
    {
        width: 200px;
        height: 200px;
        border-top:  $couleur_principale 5px solid;
        border-right: $couleur_principale_claire 5px solid;
        border-bottom:$couleur_secondaire 5px solid;
        border-left: $couleur_secondaire_claire 5px solid;
        border-radius: 50%;
        animation: rotation_loader 1.5s linear infinite;
        @keyframes rotation_loader 
        {
            0%
            {
                transform: rotate(0deg);
            }
            100%
            {
                transform: rotate(360deg)
            }
        }
        .loading_spinner_text
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px;
            font-family: $police_titres;
            font-size: 20px;
            background: linear-gradient($couleur_principale,$couleur_secondaire);
            background-clip: text;
            color: transparent;
            border: none;
        }
    }
