@mixin buttons
{
   background: linear-gradient($couleur_secondaire, $couleur_principale);
   border:none;
   border-radius: 30px;
   padding: 15px 20px 15px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 60px;
   box-shadow: 0 0 16px grey;
}
@mixin button_hover
{
   background: linear-gradient($couleur_secondaire_claire, $couleur_principale_claire);
   border:none;
   border-radius: 30px;
   padding: 15px 20px 15px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 60px;
   box-shadow: 0 0 20px darken($color: grey, $amount: 25%);

}
@mixin buttons_a
{  font-size: 15px;
   font-weight: 500;
   color: white;
   text-decoration: none;
   display: flex;
   justify-content: center;
}
@mixin coeur_plein
{
   background-color: linear-gradient($couleur_principale,$couleur_secondaire);
   border: none;
}
@mixin checkbox
{
   background-color: $couleur_tertiaire;
   width:60px;
   height:70px;
   
}
@mixin icone_checkbox
{
   background-color: transparent;
   color:white;
   font-size: 20px;
   display: flex;
   justify-content: center;
   padding: 25px;
}
@mixin menus_detailles
{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border-radius: 20px;
   height: 70px;
   margin-top: 20px;
}


