/*Couleurs*/
$couleur_principale:#9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_localisation:#eaeaea;
$couleur_hover_fonctionnement:#f5edff;
/*Polices*/
$police_titres: 'Shrikhand', cursive;
$police_textes: 'Roboto', sans-serif;

