.fonctionnement
{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $police_textes;
    h2 
    {
        font-size: 23px;
        margin-left: 20px;
        text-align: left;
    }
    .fonctionnement__selecteurs
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        .fonctionnement__selecteurs__action
        {
            display: flex;
            width: 100%;
            margin: 20px;
            justify-content: baseline;
            align-items: baseline;
            border-radius: 20px;
            p 
            {
                font-weight: 700;
            }
            .numerotation
            {
                background-color: $couleur_principale;
                font-size: 13px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                color: white;
                width: 20px;
                height: 20px;
                margin-right: -13px;
                position: relative;
            }
            .symbole_et_intitulé 
            {
                background-color: #f6f6f6;
                display: flex;
                width: 80%;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                box-shadow: 5px 5px 10px #e7e7e7;
                padding: 15px 0 15px 0;
                i 
                {
                    color: #7e7e7e;
                    margin:0 20px 0 30px;
                    font-size: 18px;
                }
            }
            .symbole_et_intitulé_3
            {
                background-color: #f5edff;
                display: flex;
                width: 80%;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                box-shadow: 5px 5px 10px #e7e7e7;
                padding: 15px 0 15px 0;
            }
                .action__eat
                    {
                        color: $couleur_principale;
                        margin: 0 20px 0 30px;
                        font-size: 18px;
                    }
                
        }
    }
}