.fonctionnement
{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    font-family: $police_textes;
    margin: 20px;
    h2 
    {
        font-size: 23px;
        margin-left: 15px;
        font-weight: bold;
    }
    .fonctionnement__selecteurs
    {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        .fonctionnement__selecteurs__action
        {
            display: flex;
            padding: 10px;
            width: 100%;
            justify-content: baseline;
            align-items: baseline;
            border-radius: 20px;
            p 
            {
                font-weight: 700;
            }
            .numerotation
            {
                background-color: $couleur_principale;
                font-size: 13px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                color: white;
                width: 22px;
                height: 22px;
                margin-right: -13px;
                position: relative;
            }
            .symbole_et_intitulé 
            {
                background-color: #f6f6f6;
                display: flex;
                width: 90%;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                box-shadow: 5px 5px 10px #e7e7e7;
                padding: 15px 20px 15px 0px;
                i 
                {
                    color: #7e7e7e;
                    margin:0 20px 0 30px;
                    font-size: 18px;
                }
            }
            .symbole_et_intitulé:hover
            {
                background-color: $couleur_hover_fonctionnement;
                i 
                {
                    color:$couleur_principale;
                }
            }
            
                
        }
    }
}