.footer__contain
    {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        
    h4     
        {
            font-family: $police_titres;
            font-size: 25px;
            margin: 20px 0 5px 30px;
        }
    .footer__contain__list
    {
        list-style-type: none;
        font-family: $police_textes;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        a 
        {
            text-decoration: none;
            color: white;
            margin-right: 80px;
            
        }
        .footer__logo
        {
            margin-right: 10px;
        }
        li 
        {
            margin-top: 8px;
        }
        .list__logo2 a 
        {
            margin-left: -4px;
        }
       
        
    }
}
