header
{
    display: flex;
    flex-direction: column;
    width:100%;
    & img
    {
        width: 170px;
        margin: auto;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .explorer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        &__localisation
        {
            display: flex;
            justify-content: center;
            background-color: $couleur_localisation;
            padding: 15px;
            box-shadow: inset 0px 4px 2px #d3d3d3;
        }
        & i
        {
            font-size: 17px;
            margin-right: 20px;
        }

    }
}
